/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require simple_calendar
 *= require_tree .
 *= require_self

 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.simple-calendar {
  .calendar-heading {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.header-icon-li {
  margin: 0 5px;
}

// registration　newページ
.user_registration {
  text-align: center;
  .user_registration_head {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .user_registration_field {
    margin-bottom: 15px;
  }
  .user_registration_button {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

// session newページ
.user_session {
  text-align: center;
  .user_session_head {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .user_session_field {
    margin-bottom: 15px;
  }
  .user_session_button {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
