// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページのレイアウト
.homes_top {
  text-align: center;
  .homes_top_head {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .left_span {
    margin-right: 10px;
  }
  .right_span {
    margin-left: 10px;
  }
}
