// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexページ
.schedule_index {
  margin: 30px;
  .schedule_index_head {
    text-align: center;
  }
  .schedule_th {
    text-align: center;
  }
}

// newページ
.schedule_new {
  margin: 30px;
  text-align: center;
}

// formページ
.schedule_form {
  width: 70%;
  margin: 0 auto;
  .schedule_form_button {
    margin: 15px;
  }
}

// showページ
.schedule_show {
  margin: 30px;
  text-align: center;
}
